In [1]:
import pandas as pd 
import numpy as np

In [2]:
movies = pd.read_csv("movies.csv")

In [3]:
movies.head()

         actor           movie_or_TV_name
0  Oliver Ryan                       Dune
1  Oliver Ryan         Bravely Default II
2  Oliver Ryan  The Pembrokeshire Murders
3  Oliver Ryan               The Accident
4  Oliver Ryan           The Last Vermeer

In [4]:
test = movies

In [5]:
test.head()

         actor           movie_or_TV_name
0  Oliver Ryan                       Dune
1  Oliver Ryan         Bravely Default II
2  Oliver Ryan  The Pembrokeshire Murders
3  Oliver Ryan               The Accident
4  Oliver Ryan           The Last Vermeer

In [6]:
test.sort_values(by = ['movie_or_TV_name'])

                   actor                         movie_or_TV_name
872       Björn Freiberg                        #Sohavégetnemérös
517   Charlotte Rampling                  'Tis Pity She's a Whore
1218         Jean Gilpin                           007: Nightfire
675   David Dastmalchian                  1,000 Times More Brutal
1634         Oscar Isaac                                 10 Years
...                  ...                                      ...
1293  Marianne Faithfull                           Zomercarrousel
1076         János Timkó  Zsaruvér és csigavér 3: A szerencse fia
1873   Stellan Skarsgård                            Åttonde budet
1446       Javier Bardem                                  Éxtasis
577        István Áldott                       Így vagy tökéletes

[1918 rows x 2 columns]

In [9]:
movie_list = test.movie_or_TV_name.unique()

In [11]:
movie_list.type()

AttributeError: 'numpy.ndarray' object has no attribute 'type'

In [12]:
type(movie_list)

numpy.ndarray

In [16]:
movie_list.size #number of unique movies

1732

In [18]:
movie_count = test.apply(pd.value_counts)

In [25]:
movie_count

                                         actor  movie_or_TV_name
#Sohavégetnemérös                          NaN               1.0
'Tis Pity She's a Whore                    NaN               1.0
007: Nightfire                             NaN               1.0
1,000 Times More Brutal                    NaN               1.0
10 Years                                   NaN               1.0
...                                        ...               ...
Zomercarrousel                             NaN               1.0
Zsaruvér és csigavér 3: A szerencse fia    NaN               1.0
Åttonde budet                              NaN               1.0
Éxtasis                                    NaN               1.0
Így vagy tökéletes                         NaN               1.0

[1781 rows x 2 columns]

In [29]:
movie_count.sort_values(by = "movie_or_TV_name",ascending = False)[0:10]

                   actor  movie_or_TV_name
Dune                 NaN              49.0
Doctors              NaN               8.0
Holby City           NaN               7.0
Casualty             NaN               7.0
The Bill             NaN               7.0
Silent Witness       NaN               5.0
EastEnders           NaN               5.0
Coronation Street    NaN               4.0
Endeavour            NaN               3.0
Hamlet               NaN               3.0